<div class="style-values">
    <div>
        Is barObj gelijk aan barSchema: {{isBarObjTrue}}
    </div>
    <div>
        Is barObjF gelijk aan barSchema: {{isBarObjFTrue}}
    </div>
    <div>
        Is carObjTrue gelijk aan barSchema: {{iscarObjTrue}}
    </div>
    <div>
        Is carObjFTrue gelijk aan barSchema: {{iscarObjFTrue}}
    </div>
    <div>
        Is personObjTrue gelijk aan barSchema: {{ispersonObjTrue}}
    </div>
    <div>
        Is personObjFTrue gelijk aan barSchema: {{ispersonObjFTrue}}
    </div>
</div>

